{:paths   ["src" "classes"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:test    {:extra-paths ["test"]
                     :extra-deps  {io.github.cognitect-labs/test-runner
                                   {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                     :main-opts   ["-m" "cognitect.test-runner"]
                     :exec-fn     cognitect.test-runner.api/test}
           :uberjar {:replace-deps  {uberdeps/uberdeps {:mvn/version "1.3.0"}}
                     :replace-paths []
                     :main-opts     ["-m" "uberdeps.uberjar" "--main-class" "em7mgalg_clj.core"]}}}
